.nav-link{
	font-size: 1.25rem;
	font-weight: 600;
	color: $dark !important;
	padding-right: 1.5rem !important;
	padding-left: 1.5rem !important;
}

.navbar-toggler{
	background-color: $primary !important;
	color: $dark !important;
	border: 2px solid $dark !important;
	border-radius: 5px !important;
}